<div class="container">
    <div class="row"> 
        <p class="title">Policies List</p> 
        <div class="col-sm-2 grid-heading">LIC Policies</div>
        <div class="col-sm-2 grid-heading">Entry Age</div>
        <div class="col-sm-2 grid-heading">Maximum Maturity Age</div>
        <div class="col-sm-2 grid-heading">Policy Term</div>
        <div class="col-sm-2 grid-heading">Minimum Premium/Purchase Price</div>
        <div class="col-sm-2 grid-heading">Minimun Sum Assured</div>

        <div ng-controller="PoliciesListCtrl">
            <div ng-repeat="pol in polList">
                <div class="col-sm-2 grid-data">
                    <!-- {{pol.name}} -->
                    <a data-toggle="collapse" data-target="#{{$index + 1}}" ng-click="showData(pol.id)">{{pol.name}}</a> 
                </div>
                <div class="col-sm-2 grid-data">{{pol.entryage}}</div>
                <div class="col-sm-2 grid-data">{{pol.maturityage}}</div>
                <div class="col-sm-2 grid-data">{{pol.policyterm}}</div>
                <div class="col-sm-2 grid-data">{{pol.minimumpremium}}</div>
                <div class="col-sm-2 grid-data">{{pol.sumassured}}</div>
                
                <div id="{{$index + 1}}" class="collapse">
                    <p>
                        {{polDetails.textualDescription}}   
                    </p>
                    <ul>
                        {{polDetails.salientDescription}}   
                    </ul>
                    <ul>
                        {{polDetails.termsCondition}}   
                    </ul>
                    <input type="checkbox" name="terms" ng-model>
                    <button id="confirm" class="btn btn-primary" ng-disabled="{{terms}}" ng-click="buy()">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>